root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4

[*.bib]
trim_trailing_whitespace = false

# Use 2 spaces for the Markdown files
[*.md]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

# Docstrings and comments use max_line_length = 79
[*.py]
insert_final_newline = true
max_line_length = 127
trim_trailing_whitespace = true

[*.rst]
indent_size = 2
insert_final_newline = true
max_line_length = 127
trim_trailing_whitespace = true

# Use 2 spaces for the HTML files
[*.html]
indent_size = 2

# The JSON files contain newlines inconsistently
[*.json]
trim_trailing_whitespace = true

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
insert_final_newline = true

# Batch files use tabs for indentation
[*.bat]
indent_style = tab
insert_final_newline = true

[docs/**.txt]
insert_final_newline = true
max_line_length = 79

[*.{yml,yaml}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
