---
name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Generate PDF document
        uses: hspaans/latexmk-action@v1.0.9
        with:
          format: pdf
          filename: article.tex

      - name: Generate PDF document
        uses: hspaans/latexmk-action@v1.0.9
        with:
          format: pdf
          filename: book.tex

      - name: Generate PDF document
        uses: hspaans/latexmk-action@v1.0.9
        with:
          format: pdf
          filename: presentation.tex

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: documents
          path: '*pdf'
